:root {
  --md-sys-color-primary: rgb(250 186 115);
  --md-sys-color-surface-tint: rgb(250 186 115);
  --md-sys-color-on-primary: rgb(72 41 0);
  --md-sys-color-primary-container: rgb(103 61 0);
  --md-sys-color-on-primary-container: rgb(255 221 187);
  --md-sys-color-secondary: rgb(224 193 163);
  --md-sys-color-on-secondary: rgb(64 45 23);
  --md-sys-color-secondary-container: rgb(88 67 44);
  --md-sys-color-on-secondary-container: rgb(253 221 189);
  --md-sys-color-tertiary: rgb(189 205 156);
  --md-sys-color-on-tertiary: rgb(41 52 18);
  --md-sys-color-tertiary-container: rgb(62 75 38);
  --md-sys-color-on-tertiary-container: rgb(217 233 182);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(24 18 12);
  --md-sys-color-on-background: rgb(238 224 213);
  --md-sys-color-surface: rgb(24 18 12);
  --md-sys-color-on-surface: rgb(238 224 213);
  --md-sys-color-surface-variant: rgb(80 69 58);
  --md-sys-color-on-surface-variant: rgb(212 196 181);
  --md-sys-color-outline: rgb(157 142 129);
  --md-sys-color-outline-variant: rgb(80 69 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 224 213);
  --md-sys-color-inverse-on-surface: rgb(55 47 39);
  --md-sys-color-inverse-primary: rgb(132 84 21);
  --md-sys-color-primary-fixed: rgb(255 221 187);
  --md-sys-color-on-primary-fixed: rgb(43 23 0);
  --md-sys-color-primary-fixed-dim: rgb(250 186 115);
  --md-sys-color-on-primary-fixed-variant: rgb(103 61 0);
  --md-sys-color-secondary-fixed: rgb(253 221 189);
  --md-sys-color-on-secondary-fixed: rgb(40 24 5);
  --md-sys-color-secondary-fixed-dim: rgb(224 193 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(88 67 44);
  --md-sys-color-tertiary-fixed: rgb(217 233 182);
  --md-sys-color-on-tertiary-fixed: rgb(20 31 1);
  --md-sys-color-tertiary-fixed-dim: rgb(189 205 156);
  --md-sys-color-on-tertiary-fixed-variant: rgb(62 75 38);
  --md-sys-color-surface-dim: rgb(24 18 12);
  --md-sys-color-surface-bright: rgb(64 56 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(33 26 20);
  --md-sys-color-surface-container: rgb(37 30 23);
  --md-sys-color-surface-container-high: rgb(48 41 33);
  --md-sys-color-surface-container-highest: rgb(59 51 44);
}
